@import "tailwindcss";

/* Custom theme */
@theme {
  --color-primary: #00a6f4;
  --color-primary-hover: #0084d1;
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer utilities {
  /* Chrome, Safari, Edge */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox + general */
  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield; /* Tailwind's `appearance-none` also works, but this is explicit */
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
